#whenYouBuy {
    color: white;
    font-size: 18px;
    font-stretch: condensed;
    font-family: "Trade Gothic Condensed";
}

/* header */
div#outline>header {
    background-color: black;
    color: white;
    padding: 6px;
    font-family: "Clarendon";
    font-weight: 100;
}

div#outline>header>span {
    color: green;
    font-family: 'Trade Gothic Condensed';
}

div#outline>footer>#rightBox {
    margin-left: 20px;
}

#altDescription {
    font-weight: 100;
    font-family: "Trade Gothic Condensed";
    font-weight: lighter;
}

#saleDate {
    padding-left: 2px;
    font-family: "Trade Gothic Condensed";
}

#unitType {
    font-size: 16px;
    font-weight: normal;
    font-family: "Trade Gothic Bold Condensed";
}


#youSavePriceLb {
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Trade Gothic Bold Condensed";
    left: 110px;
    top: 20px;
}

#retail {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    position: absolute;
    left: 270px;
    top: -2px;
    font-family: "Trade Gothic Condensed";
    border-bottom: 1px solid black;
    width: 70px;
}

.retail-price {
    font-family: "Trade Gothic Condensed";
    margin-left: 35px;
    font-size: 12px;
}

#youSaveBoxDiv {
    position: relative;
}

#advCardDiv {
    display: inline-block;
    position: relative;
}

.with-adv {
    font-family: "Trade Gothic Bold";
    font-size: 15px;
    position: relative;
    bottom: 30px;
}

.with-adv span {
    font-family: "Clarendon";
    font-weight: 600;
}

.yousave {
    color: white;
    font-family: "Trade Gothic Bold";
    text-align: left;
    padding-left: 3px;
    font-size: 18px;
}

.xforxval {
    font-size: 110px;
    vertical-align: top;
    position: relative;
    top: 17px;
}

#youSaveImg {
    display: grid;
    background-color: black;
    width: 170px;
    height: 42px;
}

#rightBox {
    position: relative;
    bottom: 25px;
}

.with-adv {
    bottom: 0px;
}

.section-header #outline input {
    text-align: center;
    vertical-align: middle;
    font-family: 'Clarendon';
    font-size: 3rem;
    height: 100%;
    width: 98%;
    scale: 0.9;
}

.section-header.hidden #new-section-btn {
    margin-bottom: -10px;
}
#mustBuy{
    margin-bottom: 8px;
}

#MustBuyInner input{
    font-size: 1em;
}
@media screen {
    #outline {
        margin-left: 0px;
    }
}

@media print {
    div#outline {
        page-break-before: always;
        padding-top: calc((517px - 337px) / 2);
        padding-bottom: calc((517px - 337px) / 2);
        margin-left: -20px;
    }

    @page {
        margin-top: -1.1cm;
        margin-left: 80px;
    }
}