
#whenYouBuy {
    color: white;
    font-size: 18px;
    font-stretch: condensed;
    font-family: "trade-gothic-next-condensed";
}

/* header */
div#outline > header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 6px;
    grid-area: a;
    font-family: "Clarendon";
    font-weight:100;
}

    div#outline > header > span {
        color: green;
        font-family: 'trade-gothic-next-condensed';
    }
#altDescription {
    font-size: 17px;
    padding-left: 10px;
    height: 15px;
    font-weight: 100;
    width: 600px;
    font-family: "trade-gothic-next-condensed";
    font-weight: lighter;
}

#saleDate {
    font-size: 15px;
    padding-top: 0;
    padding-left: 0;
    margin-left: 10px;
    margin-top: 30px;
    width: 400px;
    height: 15px;
    font-family: "trade-gothic-next-condensed";
}
#unitType {
    font-size: 20px;
}
#youSavePriceMain {
    color: white;
    font-size: 60px;
    text-align: right;
    margin-top: -6px;
}

#youSavePriceAlt {
    color: white;
    font-size: 36px;
}
#youSavePriceLb {
    color: white;
    margin-top:28px;
    font-size: 20px;
    font-family: "trade-gothic-next-condensed";
}

#retail {
    display: inline-block;
    font-size: 21px;
    position: absolute;
    left: 395px;
    top: -4px;
    font-family: "trade-gothic-next-condensed";
    border-bottom: 1px solid black;
    width:80px;
}

.retail-price{
    font-family: "trade-gothic-next-condensed";
    margin-left: 80px;
}
#youSaveBoxDiv {
    position: relative;
}

#advCardDiv {
    display: inline-block;
    position: relative;
}

.with-adv{
   font-family: "trade-gothic-next-condensed";
   font-weight: bold;
   font-size: larger;
   position: relative;
   bottom: 5px;
}

.with-adv span{
    font-family: "Clarendon";
    font-weight: 600;
}
.yousave{
    color: white;
    font-family: "trade-gothic-next-condensed";
    text-align: right;
    padding-right: 12px;
    font-size: 27px;
    padding-top: 6px;
    line-height: 27px;
}

.xforxval {
    font-size: 180px;
    vertical-align: top;
    position: relative;
    top: 27px;
}
#youSaveImg {
    display: grid;
    grid-template-columns: 78px 80px 60px 57px;
    background-color: black;
    width: 270px;
    height:65px
}
#LBOption{
    top:-60px;
    font-family: "trade-gothic-next-condensed";
    font-size: 30px;
}
#unitPriceBox{
    font-size: 60px;
    margin-top: -5px;
    margin-bottom: -5px;
}

#mustBuy{
    margin-bottom: 30px;
    display: block;   
     text-align: right;
    margin-right: 20px;
}

#MustBuyInner input{
    font-size: 1.1em;
}

#rightBox{
    margin-top: -22px;
}

#price{
    letter-spacing: -10px;
}

@page{
    margin-top: 7%;
}
.price-d-dollar{
    font-size: 200px;
    font-weight: bold;
    vertical-align: top;
    line-height: 300px;
    letter-spacing: -5px;
}


#priceBeforeDecimal[dbl_price]{
    transform: scale(0.8, 0.85);
    margin-left: 90px;
}
@media print{
    #saleDate{
        padding-left: 10px
    }
}