
.editor-toolbar { 
    background-color: white;
}

.CodeMirror {
    width:600px
}

#outline{
    grid-template-areas: "a" "b";
    grid-template-rows: 17% 83%;
}

#innerContent{
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#innerContent h1{
    font-size: 45pt;
    font-family: Clarendon;
    font-weight: 100;
    margin: 0;
}

#innerContent p{
    margin:5px;
    font-size: 20pt;
    font-family: 'trade-gothic-next';
}
#innerContent hr{
    border: 1px solid black;
    width: 70%;
}

@media print{
    #outline{
        grid-template-areas:
        "a"
        "b";
        grid-template-rows: 100%;
    }
}