
#mustBuy {
    display: grid;
    grid-template-columns: 80% 20%;
}

#LBOption {
    position: relative;
    top: -2px;
}


#whenYouBuy {
    color: white;
    font-size: 18px;
    font-stretch: condensed;
}

#youSaveImg > a {
    overflow: visible;
}

#youSaveImg {
    display: grid;
    grid-template-columns: 78px 80px 60px 57px;
}

#youSaveR {
    height: 60px;
}

html {
    background-color: var(--m32-brown);
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1250px;

    align-content: space-around;
}


#outline {
    background-color: yellow;
    height: 650px;
    width: 750px;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    grid-template-rows: 17% 23% 39% 21%;
}
/* header */
div#outline > header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 6px;
    font-weight: bold;
    grid-area: a;
}

    div#outline > header > span {
        color: green;
    }
/* Descriptions */
#desBox {
    grid-area: b;
    height: 0px;
}

#mainDescription {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 30px;
    font-family: Clarendon, serif;
    width: 98%;
    font-weight: lighter;
}

#altDescription {
    font-size: 17px;
    padding-left: 10px;
    height: 15px;
    font-weight: 100;
    width: 600px;
    font-family: 'trade-gothic-condensed', serif;
    font-weight: lighter;
}

#saleDate {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
    height: 15px;
}
/* Price box */
#price {
    grid-area: c;
    font-family: Rockwell, serif;
    font-weight: bold;
}

#mustBuy {
    font-size: 1.5em;
}

#priceBeforeDecimal {
    font-size: 320px;
    margin-top: -73px;
    padding-top: 0px;
    float: left;
    text-align: right;
    width: 75%;
    height: 200px;
    font-weight: bold;
}

#priceAfterDecimal {
    font-size: 170px;
    float: right;
    width: 25%;
    margin-top: -29px;
    font-weight: bold;
}
/* footer */
div#outline > footer {
    grid-area: d;
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: auto;
    font-family: Rockwell, serif;
    overflow: hidden;
    font-weight: bold;
}

#unitBox {
    text-align: center;
    margin-top: 12px;
}

#unitPriceBox {
    font-size: 60px;
}

#unitType {
    font-size: 20px;
    font-weight: normal;
}

#unitBox > a {
    margin-top: 44px;
}

#rightBox {
    padding-left: 12px;
    position: relative;
    margin-top: -4px;
}

#youSavePriceMain {
    color: white;
    font-size: 60px;
    text-align: right;
    margin-top: -6px;
}

#youSavePriceAlt {
    color: white;
    font-size: 36px;
}

#retail {
    display: inline-block;
    font-size: 21px;
    position: absolute;
    left: 452px;
    top: -4px;
    font-family: Rockwell, serif;
}

#youSaveBoxDiv {
    position: relative;
}

#advCardDiv {
    display: inline-block;
    position: relative;
}

@media print {
    body {
        margin-top: -4px;
    }

    #rightBox {
        margin-left: 12px;
    }

    #priceBeforeDecimal {
        margin-left: -5px;
    }

    #mainDescription {
        margin-top: 10px;
        margin-left: 10px;
    }

    #altDescription {
        margin-left: 10px;
    }

    #saleDate {
        margin-left: 10px;
    }

    body > header {
        display: none;
    }

    div#outline > header {
        display: none;
    }

    #youSaveBoxDiv {
        -webkit-print-color-adjust: exact;
        color: #ffffff;
    }

}

.noSale {
    visibility: hidden;
}

.sale {
    visibility: visible;
}

.dNone {
    display: none;
}

.centFloat {
    float: right;
}
